
    <div  style="display: grid;grid-template-columns:1fr 1fr;color:wheat" >
     <div>p</div>
        <div>w</div>
           <div>e</div>
              <div>e</div>
                 <div>d</div>
                    <divw></div>

    </div>