<div style="display: grid;grid-template-columns:1fr 3fr">
  <header>
    <aside>
      <p> Menu </p>
      <a href="/" class="active">
        <i class="fa fa-home" aria-hidden="true" style="color: pink;"></i>
        Home
      </a>
      <a href="/events">
        <i class="fa fa-calendar" aria-hidden="true" style="color: pink;"></i>
        Events
      </a>
      <a href="/galery">
        <i class="fa-solid fa-image" aria-hidden="true" style="color: pink;"></i>
        gallery
      </a>
      <a href="/publish">
        <i class="fa fa-upload" aria-hidden="true" style="color: pink;"></i>
        Publish Your Event
      </a>
      <a href="/about">
        <i class="fa-solid fa-info" aria-hidden="true" style="color: pink;"></i>
        About
      </a>
      <a href="/contact">
        <i class="fa fa-envelope" aria-hidden="true" style="color: pink;"></i>
        Contact
      </a>
    </aside>

    <div class="social">
      <a href="https://www.linkedin.com/in/florin-cornea-b5118057/" target="_blank">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>
  </header>

  <div>
      <img src="/logo4.png" alt="logo">
  

  </div>

</div>

<script>




</script>