@media screen and (min-width:900px){



    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main {
        width: 85%;
    }

    .box{
        margin-top: unset;
    }

    #menu > li > a {
   
        width:158px;
        font-size:22px;
    }

    .gradient{
        width: 80%;
        margin: 0 auto;
    }
}