
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: black;
}

.footer {
  position: relative;
  width: 100%;
  background: #3685fcd8;
  min-height: 100px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}


.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #000;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}


aside {
  color: #000;

  padding-left: 20px;
  height: 100%;
  border-top-right-radius: 80px;
}

aside a {
  font-size: 1em;
  color: #1c1c1c;
  display: block;
  padding: 12px;
  padding-left: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color:transparent;
}

aside a:hover {
  color: #3f5efb;
  background: #000;
  outline: none;
  position: relative;
  background-color: #000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

aside a i {
  margin-right: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  right: 0;
  height: 35px;
  width: 35px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 20px 0 0 #000;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  right: 0;
  height: 35px;
  width: 35px;
  border-top-right-radius: 18px;
  box-shadow: 0 -20px 0 0 #000;
}



aside p {
  margin: 0;
  padding: 40px 0;
  font-size: 1.6em;
  font-weight: 500;
  font-style: oblique;
}

body {
  font-family: 'Roboto';
  width: 100%;
  margin: 0;
}

.social {
  height: 0;  
}

.social i:before {
  width: 14px;
  height: 14px;
  font-size: 14px;
  position: fixed;
  color: #000;
  background: #0077B5;
  padding: 10px;
  border-radius: 50%;
  top:5px;
  right:5px;
}

.active1{
  font-size:larger;
  background-color: rgb(253, 75, 105);
  padding: 7px;
  outline: none;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


select{
  width: 90%;
  border:1px solid pink;
  border-radius: 9px;
  padding: 5px;
  margin-top: 50px;
  background: transparent;

}

.top-icon{
 
margin:10px;
  width: 20px;
}



.categories{
width: 80%;
margin: 0 auto;
  opacity: 3;
  filter: contrast(1.3);
 
}

.categories h4{
  color: rgb(176, 174, 174);
    width: 300px;
    margin-bottom: 50px;
    padding-left: 5px;
    box-shadow: 1px 1px 1.3px grey;
}

.wrapper.nine {
  background-color:rgba(231, 220, 231, 0.345);
  font-family: 'Arvo', serif;
padding-left: 15px;
 
}

.wrapper.nine h3{
  display: inline-block;
}

#pink{
  color:rgb(196, 10, 72); 
   font-size: 2rem;
}

.rotate span {
  font-size: 2rem;
  color: #e4e4e4;
  display: inline-flex;
  animation: rotate 2s infinite;
 
  text-shadow: 1px 1px 2px black;
}
@keyframes rotate {
  0%,
  75% {
      transform: rotateY(360deg);
  }
}
.nine span:nth-of-type(1) {
  animation-delay: 0.2s;
}
.nine span:nth-of-type(2) {
  animation-delay: 0.4s;
}
.nine span:nth-of-type(3) {
  animation-delay: 0.6s;
}
.nine span:nth-of-type(4) {
  animation-delay: 0.8s;
}
.nine span:nth-of-type(5) {
  animation-delay: 1s;
}
.nine span:nth-of-type(6) {
  animation-delay: 1.2s;
}



.categories img{
  width: 300px;
  height:300px

}



.largeMenu{

  display: none;
}

.menuBtn{
  font-size: 30px;
  color: rgb(168, 168, 168);
  background-color: #000;
  border: none;
}

.logo{
  width:200px;
}

.topContent{
  display:grid;grid-template-columns: 3fr 1fr;
}


div{
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-behavior: smooth;
}

.grey{
  background-color: rgba(235, 235, 235, 0.932);
  padding: 80px;
color: rgba(22, 22, 22, 0.959);
  text-shadow: 0.1px 0.1px 0.3px black;


}

.linkBtn{
  padding: 15px;
  background-color:rgb(202, 5, 64);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 17px;

}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form {
  background: linear-gradient(to right, rgb(230, 150, 3) 0%,rgb(230, 150, 3) 100%);
  font-size: 12px;
}

.form, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}



.background {
  display: flex;

}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #292929;
  border-radius: 15px;
  margin-top: 50px;
  opacity: 2;
  filter: contrast(2);
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: orange;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 10px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: orange;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: orange;
}

.app-contact {
  margin-top: auto;
  font-size: 14px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: orange;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: orange;
}



.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.form h3{
  text-align: center;
  font-size:26px;padding:20px;
  color:rgb(46, 46, 46)
}

a{
  text-decoration: none;
}


.mySlides{
  height: 250px;
  width: 250px;
margin: 0 auto;
opacity: 3;
filter: contrast(1.1);
  border: 20px solid rgba(255, 255, 255, 0.815);


}

.register{
  padding: 40px;
  background-color: black;
  color: #ffffffd5;
}


figure {

	display: block;
	width: 400px;
	
}

figure:before {

	background-color: #f8f8f8;
	z-index: -1;
	box-shadow:
		inset 0px 10px .5em rgba(0,0,0,.25),
		inset .1em 0px .1em rgba(0,0,0,.1),
		inset -0.1em 0px .1em rgba(0,0,0,.05),
		0 .3em .2em #fff;
	background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

figure:after {

	background: #f8f8f8;
	z-index: -2;
	box-shadow:
		0px 1em 2em -1em rgba(0,0,0,.4),
		0px 2em 2em -1em rgba(0,0,0,.3),
		0px 3em 2em -1em rgba(0,0,0,.2),
		0px 4em 1.5em -1em rgba(0,0,0,.15),
		0px 2em 4em .5em rgba(0,0,0,.1),
		inset 0 .2em .1em #fff;
}

.img{
	background: #fff;
	position: relative;
	display: block;
	width: 88%;
	height: auto;
	padding: 6%;
	box-shadow: inset 0px .3em .1em rgba(0,0,0,.2); }


@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

.word {
  font-family: 'Anton', sans-serif;
  perspective: 1000px; 

}

.word span {
  cursor: pointer;
  display: inline-block;
  font-size: 30px;
  user-select: none;
  line-height: .8;
  background: rgba(224, 223, 223, 0.897);  
  background-clip: content-box;
  color:#333232;
  opacity: 2;
  filter: contrast(1.1);
}

.word span:nth-child(1).active {
  animation: balance 1.5s ease-out;
  transform-origin: bottom left;
}

@keyframes balance {
  0%, 100% {
    transform: rotate(0deg);
  }
  
  30%, 60% {
    transform: rotate(-45deg);
  }
}

.word span:nth-child(2).active {
  animation: shrinkjump 1s ease-in-out;
  transform-origin: bottom center;
}

@keyframes shrinkjump {
  10%, 35% {
    transform: scale(2, .2) translate(0, 0);
  }
  
  45%, 50% {
    transform: scale(1) translate(0, -150px);
  }
  
  80% {
    transform: scale(1) translate(0, 0);
  }
}

.word span:nth-child(3).active {
  animation: falling 2s ease-out;
  transform-origin: bottom center;
}

@keyframes falling {
  12% {
    transform: rotateX(240deg);
  }
  
  24% {
    transform: rotateX(150deg);
  }
  
  36% {
    transform: rotateX(200deg);
  }
  
  48% {
    transform: rotateX(175deg);
  }
  
  60%, 85% {
    transform: rotateX(180deg);
  }
  
  100% {
    transform: rotateX(0deg);
  }
}

.word span:nth-child(4).active {
  animation: rotate 1s ease-out;
}

@keyframes rotate {
  20%, 80% {
    transform: rotateY(180deg);
  }
  
  100% {
    transform: rotateY(360deg);
  }
}

.word span:nth-child(5).active {
  animation: toplong 1.5s linear;
}

@keyframes toplong {
  10%, 40% {
    transform: translateY(-48vh) scaleY(1);
  }
  
  90% {
    transform: translateY(-48vh) scaleY(4);
  }
}


@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

@media screen and (min-width:800px){

  .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .word span {
    font-size: 50px;
  }

  .photos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    padding: 50px;
  }

  .screen-body-item {
    padding: 50px;
  }

  .grey,.form,.gall,.register{
  margin-left: -66px;
  }

  .logo{
    width:unset;
  }

  .topContent{
    display:grid;grid-template-columns: 4fr 1fr;
  }
aside{
  
  background: #3685fcd8;
width: 250px;

}
.rotate span ,#pink{
  font-size: 4rem;
}

  .categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    width: 90%;

    
   
  }

  .categories h4{
    background-color:black;
    margin-bottom: 20px;
    
  }

  .menuBtn{

    display: none;
  }

  .indexPage{
    display: grid;grid-template-columns:1fr 4fr
  }

  .largeMenu{
    display: block;
  }

  .top-icon{
    width: 30px;
  }


}
  
